<div>
  <h1>Score</h1>
  <%= link_to "new", new_path, id:"link" %>
</div>

<div class="cases">
  <span id="letters" ><%= @letters %></span>
</div>
<p>Votre proposition : <%= @saisie %></p>
<div class="cases">
  <span id="reponse" ><%= @reponse %></span>
</div>
