/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import url(/app/assets/stylesheets/link.css);
h1 {
  color: white;
  text-shadow: 1px 4px 15px #361f6185;
}
  #top
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    box-shadow: 0px 5px 16px rgb(204 168 177);    }
  body
  {
    margin: 0;
    text-align: center;
    font-size: 42px;
    font-family: cursive;
    background-color: #d2d2d2;
}
